env/iotdb/**
!env/iotdb/docker-compose.yml

# Rule from github/gitignore
# Go + Cpp + Java
*.a
*.app
*.class
coverage.*
*.coverprofile
*.ctxt
*.d
*.dll
*.dwo
*.dylib
*.ear
.env
*.exe
*.exe~
*.gch
go.work
go.work.sum
hs_err_pid*
*.ilk
*.jar
*.la
*.lai
*.lib
*.lo
*.log
*.mod
.mtj.tmp/
*.nar
*.o
*.obj
*.out
*.pch
*.pdb
profile.cov
*.rar
replay_pid*
*.slo
*.smod
*.so
*.tar.gz
*.test
*.war
*.zip
